body {
    padding-top: 80px;
    padding-bottom: 70px;
}

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }

 .form-control {
     width: 95% !important;
 }

 .row {
     margin-top: 5% !important;

 }

 .card {
     margin-bottom: 20px !important;
     box-shadow: 2px 2px 10px #888888 !important;
 }

  .errspan {
        float: right;
        margin-right: 30px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }